@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .burger-line {
        @apply w-9 h-[3px] bg-blue-600 my-[7px];
    }

    .bg-body {
        background-color: #060E23;
    }
    .header-section {
        @apply text-3xl text-blue-500 font-semibold;
    }
    .section-class {
        @apply container mx-auto px-5 md:justify-center mt-10 md:mt-20 lg:mt-20 2xl:mt-36;
    }
    .blue-line {
        @apply max-w-[300px] lg:max-w-sm h-[3px] bg-slate-400 mt-2 bg-gradient-to-r from-blue-700 to-blue-400;
    }
    .btn-outline {
        @apply font-semibold flex h-11 bg-transparent border-2 border-blue-600 items-center justify-center rounded-xl text-slate-200 hover:scale-110 ease-in-out duration-300 hover:border-blue-400 hover:text-white;
    }
    .card {
        @apply max-w-[350px] rounded-xl h-[512px] border-2 sm:m-3 border-blue-600 p-5 ease-in-out duration-300 hover:scale-[1.03] my-3 shadow-xl hover:border-blue-500;
    }
    .card-title {
        @apply text-2xl font-bold text-blue-600 my-3 ease-in-out duration-300;
    }
    .card-body {
        @apply text-slate-300 font-semibold ease-in-out duration-300;
    }

    @keyframes blink {
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    .typing-animation {
        animation: blink 1.5s infinite;
    }
    #the_element_that_you_applied_translate_to {
    -webkit-font-smoothing: antialiased;
    }
}